@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../public/fonts/font.css";
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

* {
    font-family: 'Poppins', sans-serif;
}

@layer base {
    body{

        @apply bg-[#ecf0f3] text-[#1f2937];
    }
    h1,h2,h3,h4,h5 {
        @apply font-bold
    }
    h1{
        @apply md:text-4xl text-3xl 
    }
    h2{
        @apply text-green-600 
    }
    button{
        @apply text-white outline-none shadow-md hover:p-2 shadow-gray-100 bg-gradient-to-tr from-green-600 to-purple-600  px-2 py-1 rounded-lg  hover:shadow hover:shadow-green-600 duration-700 ease-in
    }
}
html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }

html{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}
